@import 'colors.css';

.keyboard-row {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 4px;
    width: 100%;
}

.keyboard-key {
    background-color: var(--default-keyboard-color);
    border: 0;
    color: #F8F8F8;
    font-weight: bold;
    height: 58px;
    width: auto;
    transition: background-color 0.5s linear;
}

.correct-key {
    background-color: var(--correct-letter-color);
}

.present-key {
    background-color: var(--present-letter-color);
}

.absent-key {
    background-color: var(--absent-letter-color);
}

.current-key {
    box-sizing: border-box;
}