@import 'colors.css';

.tile {
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    max-width: 60px;
    min-width: 50px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.tile-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.tile-flipped .tile-inner {
    transform: rotateX(180deg);
}

.tile-front, .tile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tile-back {
    transform: rotateX(180deg);
}

.tile-letter {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.correct {
    background-color: var(--correct-letter-color);
    border: 0;
}

.present {
    background-color: var(--present-letter-color);
    border: 0;
}

.absent {
    background-color: var(--absent-letter-color);
    border: 0;
}

.current {
    border: 1px solid white;
    box-sizing: border-box;
}

.empty {
    border: 2px solid var(--absent-letter-color);
    background-color: transparent;
    box-sizing: border-box;
}