@import 'colors.css';

.tile {
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 2px solid #3A3A3C;
    display: flex;
    justify-content: center;
    max-width: 60px;
    min-width: 50px;
    text-transform: uppercase;
}

.tile-letter {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.correct {
    background-color: var(--correct-letter-color);
    border: 0;
}

.present {
    background-color: var(--present-letter-color);
    border: 0;
}

.absent {
    background-color: var(--absent-letter-color);
    border: 0;
}

.current {
    border: 1px solid white;
    box-sizing: border-box;
}