html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  background-color: #121213;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(2px, 1vw, 6px);

  /* mobile-safe full screen */
  width: 100dvw;
  height: 100dvh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  justify-self: center;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100vw;
  }
}

.keyboardContainer {
  width: 100%;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; /* ensure no visual overflow */
}
