#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #121213;
  width: 100vw;
  height: 100vh;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  justify-self: center;
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100vw;
  }

  #root {
    height: 100vh;
  }
}
